<div class="container_big-card">
    <div class="big-card_photo">
        <img 
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1I9EpLw-zb1BGbWfzOgauEQKsgV3FcfH58A&s"
            alt="">
    </div>
    <div class="big-card_title">
        <h1><a href="#">Nova versão do Angular 18 sai em jan/2025</a></h1>
    </div>
    <div class="big-card_description">
        <p>
            <a href="#">
                Não perca nenhuma informação Não perca nenhuma informaçãoNão perca nenhuma informação
            </a>
        </p>            
    </div>
</div>