<div class="container_small-card">
    <div class="container_small-card-content">
        <div class="small-card_photo">
            <img 
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1I9EpLw-zb1BGbWfzOgauEQKsgV3FcfH58A&s"
                alt="">
        </div>
        <div class="small-card_title">
            <h1><a href="#">Nova versão do Angular 18 sai em jan/2025</a></h1>
        </div>
    </div>
    <div class="container_small-card_separator">
        <hr />
    </div>
</div>
